<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Modal Update Fruit -->
<div th:fragment="modal-update-fruit" class="modal fade" id="updateModal" tabindex="-1" aria-labelledby="updateModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5 text-warning" id="updateModalLabel">Update Fruit</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="modalFormUpdateFruit" th:action="@{/admin/update-fruit}" enctype="multipart/form-data">
                    <input type="hidden" name="_method" value="PUT">
                    <input type="hidden" id="updateFruitId">
                    <div class="mb-2">
                        <label for="updateFruitName" class="form-label" style="font-size: 12px;">Name</label>
                        <input type="text" class="form-control" id="updateFruitName" name="fruitName" placeholder="Name...">
                    </div>
                    <div class="mb-2">
                        <label for="updateFruitArt" class="form-label" style="font-size: 12px;">Article</label>
                        <input type="text" class="form-control" id="updateFruitArt" placeholder="Article...">
                    </div>
                    <div class="mb-2">
                        <label for="updateFruitDescr" class="form-label" style="font-size: 12px;">Description</label>
                        <textarea class="form-control" id="updateFruitDescr" rows="2"></textarea>
                    </div>
                    <div class="mb-2">
                        <label for="updateFruitPrice" class="form-label" style="font-size: 12px;">Price</label>
                        <input type="text" class="form-control" id="updateFruitPrice" placeholder="Price...">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <div id="updateModalSpinner" class="spinner-border text-warning visually-hidden" role="status"></div>
                <button id="updateModalBtnSave" type="button" class="btn btn-primary">Save</button>
            </div>
            <div id='updateModalResponse' class="m-2 p-2"></div>
        </div>
    </div>
</div>
<!-- End Modal Update Fruit -->
</body>
</html>